[commit]
	gpgsign = true
[user]
	signingkey = 041021B925AE5E37
	name = Li Zhineng
	email = im@zhineng.li
[core]
	pager = diff-so-fancy | less --tabs=1,5 -RFX
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	overview = log --all --oneline --no-merges
	praise = blame
	today = log --since=midnight --author='Li Zhineng' --oneline
