[user]
    name = Li Zhineng
    email = lizhineng@gmail.com
    signingkey = 3BC18C525122EA34
[alias]
    overview = log --all --oneline --no-merges
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    graph = log --graph --all --decorate --stat --date=iso
    stats = shortlog -sn
    today = log --since=00:00:00 --all --no-merges --oneline --author=lizhineng@gmail.com
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    recap = log --all --oneline --no-merges --author=lizhineng@gmail.com
    praise = blame
[core]
    excludesfile = /Users/zhineng/.gitignore_global
    editor = vim
[merge]
    ff = only
    conflictstyle = diff3
[commit]
    gpgsign = true
    template = /Users/zhineng/.stCommitMsg
[push]
    default = simple
    followTags = true
[status]
    showUntrackedFiles = all
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[gpg]
    program = /usr/local/bin/gpg
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
